<!DOCTYPE html>
<html>
<body>
    <h2>Step 2: Security & ID</h2>
    <form action="/register" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="first_name" value="{{ data.first_name }}">
        <input type="hidden" name="middle_name" value="{{ data.middle_name }}">
        <input type="hidden" name="last_name" value="{{ data.last_name }}">
        <input type="hidden" name="phone" value="{{ data.phone }}">
        <input type="hidden" name="email" value="{{ data.email }}">

        ID Type: 
        <select name="id_type" required>
            <option value="" disabled selected>Select Type</option>
            <option value="UMID">UMID</option>
            <option value="Drivers License">Driver's License</option>
            <option value="Passport">Passport</option>
            <option value="PhilID">National ID</option>
        </select><br><br>

        Profile Photo: <input type="file" name="profile_photo" accept="image/*" required><br><br>

        Password: <input type="password" name="password" required><br><br>
        Confirm Password: <input type="password" name="confirm_password" required><br><br>

        <a href="{{ url_for('step1') }}">Back</a>
        <br><br>
        <button type="submit">Register Now</button>
        
    </form>
</body>
</html>